In [495]:
#Importing Stuff
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

#np.random.seed(0) used to ensure that same random values are produced everytime.
np.random.seed(0)

In [496]:
#reading data
X=pd.read_csv('train.csv')

#dictionary for male and female as they are categorical values
d = {'male':0,'female':1}
X['Sex']=X['Sex'].apply(lambda x:d[x])

#Splitting training and test data
X['is_train']=np.random.uniform(0,1,len(X))<=0.70



train,test = X[X['is_train']==True],X[X['is_train']==False]
print("Number of rows in training dataset:",len(train))
print("Number of rows in testing dataset:",len(test))

#Age has missing values so we fill them!
train['Age']=train['Age'].fillna(train['Age'].median())

Number of rows in training dataset: 636
Number of rows in testing dataset: 255

C:\Users\Rushikesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [497]:
#y_train will be the result
y_train=train.pop('Survived')
y_test_to_compare=test.pop('Survived')
y_train.head()

0    0
2    1
3    1
4    0
5    0
Name: Survived, dtype: int64

In [498]:
#Here strings = objects so we remove them for numeric variables
train.pop('PassengerId')
train.pop('SibSp')
train.pop('Parch')
train.pop('is_train')
train.head()

,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",0,22.0,A/5 21171,7.2500,NaN,S
2,3,"Heikkinen, Miss. Laina",1,26.0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",0,35.0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",0,28.0,330877,8.4583,NaN,Q

In [499]:
numeric_variables = list(train.dtypes[train.dtypes!="object"].index)
train[numeric_variables].head()
train.describe()

           Pclass         Sex         Age        Fare
count  636.000000  636.000000  636.000000  636.000000
mean     2.328616    0.371069   29.124214   31.111713
std      0.828925    0.483471   13.012076   47.175133
min      1.000000    0.000000    0.420000    0.000000
25%      2.000000    0.000000   22.000000    7.895800
50%      3.000000    0.000000   28.000000   14.427100
75%      3.000000    1.000000   35.000000   31.068750
max      3.000000    1.000000   80.000000  512.329200

In [500]:
#creating RandomForest
model=RandomForestClassifier(n_estimators=100)
model.fit(train[numeric_variables],y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [501]:
test.pop('PassengerId')
test.pop('SibSp')
test.pop('Parch')
test.pop('Name')
test.pop('Cabin')
test.pop('Embarked')
test.pop('Ticket')
test.pop('is_train')
test.head()

    Pclass  Sex   Age     Fare
1        1    1  38.0  71.2833
7        3    0   2.0  21.0750
8        3    1  27.0  11.1333
10       3    1   4.0  16.7000
13       3    0  39.0  31.2750

I got error ValueError: Input contains NaN, infinity or a value too large for dtype('float32').
Even though I am using random forest shouldnt the algorithm handle NaN values?
So I am pre processing the test data

In [502]:
#Age has missing values so we fill them!
test['Age']=test['Age'].fillna(test['Age'].median())

C:\Users\Rushikesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [503]:
y_test=model.predict(test)

In [504]:
accuracy_score(y_test_to_compare,y_test)

0.796078431372549